/archive/
*.pyc
/tests/output/
/releases/build/
/releases/backup*
/releases/*.bz2
/scripts/pyarabic/
407363ca219005730c1afd44d8868e7.svn-base
/docs/مراسلات/الكلمات المستبعدة.doc
/docs/مراسلات/كيفية العمل على المستبعدات-فاضل.doc
/docs/مراسلات/كيفية العمل على المستبعدات.doc
/docs/build/
/docs/site/
/python_lib/Arabic_Stopwords.egg-info/PKG-INFO
/python_lib/Arabic_Stopwords.egg-info/SOURCES.txt
/python_lib/Arabic_Stopwords.egg-info/dependency_links.txt
/python_lib/Arabic_Stopwords.egg-info/requires.txt
/python_lib/Arabic_Stopwords.egg-info/top_level.txt
/python_lib/arabicstopwords/__init__.pyc
/python_lib/arabicstopwords/arabicstopwords.pyc
/python_lib/arabicstopwords/stopwordsallforms.pyc
/python_lib/build/
/python_lib/dist/
/releases/arabicstopwords.0.5.tar.bz2
/releases/arabicstopwords.0.6.tar.bz2

